body {
  margin: 0;
  padding: 20px;
}

h1 {
  margin: 0;
  margin-bottom: .5rem;
}

.converter-wrapper {
  display: flex;
  align-items: center;

}

select {
  margin-right: .5rem;
  border: none;
  padding: 7px;
}

.input {
  border: 1px solid #333;
  border-radius: .3em;
  padding: 7px;
  width: 7em;
  border: none;
  flex-grow: 1;
}

.equals {
  font-weight: bold;
  font-size: 3rem;
  margin-left: 20px;
  margin-right: 20px;
}